.card{
  background: var(--branco);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1em;
  padding: 1em;
}

.card__descricao{
  display: flex;
  justify-content: space-between;
}

.card__botoes{
  display: flex;
  justify-content: space-between;
}

.card__descricao{
  margin-bottom: 1em;
}
.botoes{
  display: flex;
  }

.descricao{
  margin-right: 1em;
}

  .descricao__titulo{
    font-weight: 700;
    color: var(--laranja);
  }

  .descricao__titulo-livro{
    font-size: 18px;
    font-weight: 700;
    color: var(--azul-escuro);
    margin: 1em 0;
  }

  .descricao__texto{
    font-size: 14px;
  }

  .card__saiba-mais{
    background: var(--laranja);
    color: var(--branco);
    padding: 1em 2.2em;
    font-weight: 700;
    text-decoration: none;
  }

  @media screen and (min-width: 1024px){
    .descricao__texto{
      font-size: 16px;
    }

    .card{
      margin: 2em auto;
      width: 50%;
    }

  }

